## Oil and Gas Production Forecast
### Part_1. Candidate oil or gas fields selection for data analysis
### 1.1 Import Librries

In [1]:
import pandas as pd
import numpy as np
import warnings

from  datetime import datetime, timedelta
from sklearn.preprocessing import LabelEncoder,MinMaxScaler
import category_encoders as ce
import matplotlib.pyplot as plt
%matplotlib inline
warnings.filterwarnings('ignore')

### 1.2 Read in data

Data Source for oil production: 
API: https://dev.socrata.com/foundry/data.ny.gov/qcf2-zajk
https://www.dec.ny.gov/cfmx/extapps/GasOil/search/wells/index.cfm?api=31009242140000

Well list Data Soutce: https://www.kaggle.com/new-york-state/nys-oil,-gas,-other-regulated-wells

In [3]:
data = pd.read_csv('data/oil-gas-other-regulated-wells-beginning-1860.csv')

In [41]:
data.head(2).append(data.tail(1))

,API Well Number,County Code,API Hole Number,Sidetrack,Completion,Well Name,Company Name,Operator Number,Well Type,Map Symbol,...,Permit Fee,Objective Formation,Depth Fee,Spacing,Spacing Acres,Integration,Hearing Date,Date Last Modified,DEC Database Link,Location 1
0,31001010720000,1,1072,0,0,Finch 1,Corona Typewriter,9372,NL,O,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,2018-02-13T00:00:00,{'url': 'http://www.dec.ny.gov/cfmx/extapps/Ga...,"{'longitude': '-74.12681', 'needs_recoding': F..."
1,31001010730000,1,1073,0,0,Hilton James 1,Belmont Quadrangle Drilling,9034,NL,O,...,0.0,NaN,0.0,Exempt from Title 5; variance needed from 6 NY...,NaN,NaN,NaN,2017-08-01T00:00:00,{'url': 'http://www.dec.ny.gov/cfmx/extapps/Ga...,"{'longitude': '-73.90768', 'needs_recoding': F..."
42044,31123615210000,123,61521,0,0,Castner 1,Cabot Oil & Gas Corp.,209,DH,OP,...,1100.0,Queenston,1000.0,NaN,NaN,NaN,NaN,1995-12-05T00:00:00,{'url': 'http://www.dec.ny.gov/cfmx/extapps/Ga...,"{'longitude': '-75.519335', 'needs_recoding': ..."

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42045 entries, 0 to 42044
Data columns (total 51 columns):
API Well Number                   42045 non-null int64
County Code                       42045 non-null int64
API Hole Number                   42045 non-null int64
Sidetrack                         42045 non-null int64
Completion                        42045 non-null int64
Well Name                         41958 non-null object
Company Name                      40887 non-null object
Operator Number                   42045 non-null int64
Well Type                         42045 non-null object
Map Symbol                        42045 non-null object
Well Status                       42045 non-null object
Status Date                       24222 non-null object
Permit Application Date           17658 non-null object
Permit Issued Date                17631 non-null object
Date Spudded                      19580 non-null object
Date of Total Depth               16216 non-null object
Date Well Completed               22062 non-null object
Date Well Plugged                 16724 non-null object
Date Well Confidentiality Ends    7015 non-null object
Confidentiality Code              41965 non-null object
Town                              41356 non-null object
Quad                              40968 non-null object
Quad Section                      37450 non-null object
Producing Field                   36586 non-null object
Producing Formation               31930 non-null object
Financial Security                42039 non-null object
Slant                             42022 non-null object
County                            42006 non-null object
Region                            42039 non-null float64
State Lease                       438 non-null object
Proposed Depth, ft                40443 non-null float64
Surface Longitude                 40829 non-null float64
Surface Latitude                  40829 non-null float64
Bottom Hole Longitude             40711 non-null float64
Bottom Hole Latitude              40711 non-null float64
True Vertical Depth, ft           42039 non-null float64
Measured Depth, ft                42039 non-null float64
Kickoff, ft                       42039 non-null float64
Drilled Depth, ft                 42039 non-null float64
Elevation, ft                     24825 non-null float64
Original Well Type                42039 non-null object
Permit Fee                        41956 non-null float64
Objective Formation               13351 non-null object
Depth Fee                         42039 non-null float64
Spacing                           5017 non-null object
Spacing Acres                     1163 non-null float64
Integration                       4355 non-null object
Hearing Date                      285 non-null object
Date Last Modified                42045 non-null object
DEC Database Link                 42045 non-null object
Location 1                        40829 non-null object
dtypes: float64(14), int64(6), object(31)
memory usage: 16.4+ MB

In [42]:
data.columns

Index(['API Well Number', 'County Code', 'API Hole Number', 'Sidetrack',
       'Completion', 'Well Name', 'Company Name', 'Operator Number',
       'Well Type', 'Map Symbol', 'Well Status ', 'Status Date',
       'Permit Application Date', 'Permit Issued Date', 'Date Spudded',
       'Date of Total Depth', 'Date Well Completed', 'Date Well Plugged',
       'Date Well Confidentiality Ends', 'Confidentiality Code', 'Town',
       'Quad', 'Quad Section', 'Producing Field', 'Producing Formation',
       'Financial Security', 'Slant', 'County', 'Region', 'State Lease',
       'Proposed Depth, ft', 'Surface Longitude', 'Surface Latitude',
       'Bottom Hole Longitude', 'Bottom Hole Latitude',
       'True Vertical Depth, ft', 'Measured Depth, ft', 'Kickoff, ft',
       'Drilled Depth, ft', 'Elevation, ft', 'Original Well Type',
       'Permit Fee', 'Objective Formation', 'Depth Fee', 'Spacing',
       'Spacing Acres', 'Integration', 'Hearing Date', 'Date Last Modified',
       'DEC Database Link', 'Location 1'],
      dtype='object')

## Candidate Field Selection

In [43]:
data['Producing Field'].nunique()

353

In [44]:
data.groupby(['Producing Field']).count()['API Well Number'].sort_values(ascending=False)

Producing Field
Richburg                   8447
Lakeshore                  5680
Bradford                   4250
Chipmunk                   2886
Beech Hill-Independence    1018
                           ...
Great Valley                  1
Grass Hill South              1
Goundry Hill                  1
Gilbert                       1
Guyanoga Valley               1
Name: API Well Number, Length: 353, dtype: int64

In [48]:
data['Well Type'].unique()

array(['NL', 'TH', 'ST', 'MS', 'DW', 'GD', 'GW', 'DH', 'OD', 'IW', 'OW',
       'OE', 'DS', 'GE', 'MM', 'SG', 'Confidential', 'LP', 'BR', 'MB'],
      dtype=object)

In [49]:
# data.loc[data['Producing Field']=='Bradford']['Slant'].unique()

### Richburg Field

In [52]:
data.loc[data['Producing Field']=='Richburg'].head(3)

,API Well Number,County Code,API Hole Number,Sidetrack,Completion,Well Name,Company Name,Operator Number,Well Type,Map Symbol,...,Permit Fee,Objective Formation,Depth Fee,Spacing,Spacing Acres,Integration,Hearing Date,Date Last Modified,DEC Database Link,Location 1
59,31003002460000,3,246,0,0,Chadwick F 1,Columbia Gas Transmission Corp.,31,OD,OWP,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,1999-02-03T00:00:00,{'url': 'http://www.dec.ny.gov/cfmx/extapps/Ga...,"{'longitude': '-78.17065', 'needs_recoding': F..."
239,31003038710000,3,3871,0,0,Lot 54 23,Bradley Producing Corp.,101,IW,OP,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,1998-12-14T00:00:00,{'url': 'http://www.dec.ny.gov/cfmx/extapps/Ga...,"{'longitude': '-78.01705', 'needs_recoding': F..."
243,31003038750000,3,3875,0,0,Jordan 220,Bradley Producing Corp.,101,IW,OP,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,1999-01-20T00:00:00,{'url': 'http://www.dec.ny.gov/cfmx/extapps/Ga...,"{'longitude': '-78.1723', 'needs_recoding': Fa..."

In [51]:
data.loc[data['Producing Field']=='Richburg']['Date Well Completed'].isna().sum()

6992

### Lakeshore Field

In [56]:
data.loc[data['Producing Field']=='Lakeshore'].sample(3)

,API Well Number,County Code,API Hole Number,Sidetrack,Completion,Well Name,Company Name,Operator Number,Well Type,Map Symbol,...,Permit Fee,Objective Formation,Depth Fee,Spacing,Spacing Acres,Integration,Hearing Date,Date Last Modified,DEC Database Link,Location 1
27169,31013155430000,13,15543,0,0,"Reed, N 2",Empire Energy E&P LLC,2544,GD,GW,...,20.0,NaN,0.0,NaN,NaN,NaN,NaN,2010-06-04T00:00:00,{'url': 'http://www.dec.ny.gov/cfmx/extapps/Ga...,"{'longitude': '-79.56471', 'needs_recoding': F..."
30132,31013249450000,13,24945,0,0,Canadaway Wildlife Area 8-38227,Seneca Resources Corporation,826,NL,O,...,1430.0,Medina,1330.0,Exempt from Title 5; complies with 6 NYCRR 553...,NaN,No integration order required,NaN,2014-02-13T00:00:00,{'url': 'http://www.dec.ny.gov/cfmx/extapps/Ga...,"{'longitude': '-79.233288', 'needs_recoding': ..."
26242,31013125970000,13,12597,0,0,Betram 127,Empire Energy E&P LLC,2544,GD,GW,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,2010-06-04T00:00:00,{'url': 'http://www.dec.ny.gov/cfmx/extapps/Ga...,"{'longitude': '-79.50384', 'needs_recoding': F..."

In [47]:
data.loc[data['Producing Field']=='Lakeshore']['Date Well Completed'].isna().sum()

649

In [57]:
fld = data.loc[data['Producing Field']=='Lakeshore']

In [64]:
fld.groupby(['Well Type']).count()['API Well Number'].sort_values(ascending=False)

Well Type
GD    4891
NL     402
DH     215
GW      71
DW      69
GE      23
OW       4
OD       3
SG       1
DS       1
Name: API Well Number, dtype: int64

In [66]:
### leave only Gas Development
fld = fld.loc[fld['Well Type']=='GD']

In [67]:
fld['Date Well Completed'].isna().sum()

174

In [69]:
fld.sample(5)

,API Well Number,County Code,API Hole Number,Sidetrack,Completion,Well Name,Company Name,Operator Number,Well Type,Map Symbol,...,Permit Fee,Objective Formation,Depth Fee,Spacing,Spacing Acres,Integration,Hearing Date,Date Last Modified,DEC Database Link,Location 1
29184,31013209030000,13,20903,0,0,Pascatore 1 6724,PPP Future Development Inc.,2740,GD,GW,...,1225.0,Medina,1125.0,NaN,NaN,NaN,NaN,2017-11-14T00:00:00,{'url': 'http://www.dec.ny.gov/cfmx/extapps/Ga...,"{'longitude': '-79.25976', 'needs_recoding': F..."
27702,31013169370000,13,16937,0,0,Stebbins 1,Stedman Energy Inc.,1145,GD,GW,...,1100.0,Medina,1000.0,NaN,NaN,NaN,NaN,2004-01-05T00:00:00,{'url': 'http://www.dec.ny.gov/cfmx/extapps/Ga...,"{'longitude': '-79.61449', 'needs_recoding': F..."
27455,31013162670000,13,16267,0,0,Fairbanks 3,Cotton Well Drilling Company Inc.,1206,GD,GW,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,2004-01-05T00:00:00,{'url': 'http://www.dec.ny.gov/cfmx/extapps/Ga...,"{'longitude': '-79.18597', 'needs_recoding': F..."
26822,31013146170000,13,14617,0,0,"McCreary, W 1",Empire Energy E&P LLC,2544,GD,GW,...,20.0,NaN,0.0,NaN,NaN,NaN,NaN,2010-06-04T00:00:00,{'url': 'http://www.dec.ny.gov/cfmx/extapps/Ga...,"{'longitude': '-79.49414', 'needs_recoding': F..."
16641,31009184670000,9,18467,0,0,R Priest 1,Empire Energy E&P LLC,2544,GD,GW,...,975.0,Medina,875.0,NaN,NaN,NaN,NaN,2016-08-16T00:00:00,{'url': 'http://www.dec.ny.gov/cfmx/extapps/Ga...,"{'longitude': '-78.83717', 'needs_recoding': F..."

### Bradford Field

In [21]:
data.loc[data['Producing Field']=='Bradford']['Date Well Completed']

374      1966-07-02T00:00:00
3727     1979-11-15T00:00:00
13444    1934-04-06T00:00:00
13693    1961-03-30T00:00:00
13713    1962-09-18T00:00:00
                ...
23542                    NaN
23690                    NaN
23691                    NaN
30251    2008-08-06T00:00:00
30283    2008-08-07T00:00:00
Name: Date Well Completed, Length: 4250, dtype: object

In [22]:
data.loc[data['Producing Field']=='Bradford']['Date Well Completed'].isna().sum()

2264

In [ ]:
### convert 'date' column to 'datetime' type
# data['date'] = pd.to_datetime(df.date) 

# split column with years values only
# df['year_sale'] = df['date'].dt.year # year sale
# df['month_sale'] = df['date'].dt.month # month sale

### references:

https://higherlogicdownload.s3.amazonaws.com/SPE/5fc0079d-67a5-4dd9-a56f-190534ef5d3d/UploadedImages/2019_04_16_ML_SPE_Presentation_Revised.pdf